@import './utils/variables';

@import './base/body';
@import './base/reset';

@import './components/container';
@import './components/logo';
@import './components/title';
@import './components/modal';

@import './layout/header';
@import './layout/hero';
@import './layout/section-benefits';
@import './layout/section-examples';
@import './layout/section-team';
@import './layout/section-clients';
@import './layout/portfolio';
@import './layout/page-footer';
